
<!-- 1 -->
<div class="all-activities-body">
    <!-- access objects -->
    <% for (let i = 0; i < students.length; i++) { %>
        <div>
            <div>
                <div>
                    <img src="../assets/Icons/person-64.png" alt="Student Image">
                </div>
            </div>
            <div>
                <div>
                    <h1><%= students[i].name %></h1>
                    <h4><%= students[i].class %></h4>
    
                    <!-- Accessing activityDetails for the current student -->
                    <% const activityDetails = students[i].activityDetails; %>
                    <% if (activityDetails) { %>
                        <% Object.keys(activityDetails).forEach(function(activityType) { %>
                            <h3><%= activityType %></h3>
                            <ul>
                                <% activityDetails[activityType].forEach(function(activity) { %>
                                    <li><strong>Activity:</strong> <%= activity.activityName %></li>
                                    <li><strong>Description:</strong> <%= activity.activityDescription %></li>
                                <% }); %>
                            </ul>
                        <% }); %>
                    <% } else { %>
                        <p>No activity details found for this student.</p>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
    
</div>