<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <title>Home</title>
</head>
<body class="home__container">
    <nav>
        <img src="./assets/Icons/student-center-80.png" alt="Nav Icon">

    </nav>
    <div class="password__container">
        <img src="./assets/logo/MonoChrome.png" alt="ReportR Logo">

        <form method="POST" action="/">
            <label for="passwordId"> <h5>Connection ID</h5> </label>
            <input type="password" name="passwordId" id="passwordId">
            <button type="submit">Submit</button>
        </form>
        
    </div>
    
    <footer>
        <h5>©️ ReportR 2023</h5>
    </footer>
</body>
</html>
